  <footer class="grey darken-4 white-text">
      <div class="container">
        <div class="row"> 
          <div class="col s12">
            Footer here
          </div>
        </div>
      </div>
  </footer>
  </body>
</html>
